<html>
<head lang="en">
    <meta charset="utf-8">
</head>
<body>
    <form action="charge" method="POST">
        <script
            src="https://checkout.razorpay.com/v1/checkout.js"
            data-key="rzp_test_QKh22oQapBy4fU"
            data-amount="100"
            data-name="PaymentZone"
            data-description="Purchase Description"
            data-image="vk.jpg"
            data-netbanking="true"
            data-description="Tesing...."
            data-prefill.name="vivek kumar jha"
            data-prefill.email="vivekjha1213@gmail.com"
            data-prefill.contact="9971174775"
            data-notes.shopping_order_id="21">
        </script>
        <input type="hidden" name="shopping_order_id" value="21">
    </form>
</body>
</html>
